#right {
  width: 70vw;
  height: 85vh;
}
.right {
  /* width: 60%; */
  margin-right: 18%;
  margin-top: 4%;
}
.right-new {
  margin-right: 18%;
  margin-top: 6%;
}
.right h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-bottom: 25px;
}

.right p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.right .security-highlight {
  color: #ff851b;
  font-weight: bold;
}

.right .subtext {
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.signup-form label {
  font-size: 14px;
  color: #666;
  text-align: left;
}

.signup-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.signup-form input:focus {
  outline: none;
  border-color: #ff851b;
}

.signup-form button {
  padding: 10px;
  background-color: #ff851b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #333;
}

.agreement {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.agreement a {
  color: #007bff;
  text-decoration: none;
}

.agreement a:hover {
  text-decoration: underline;
}

.signin {
  font-size: 14px;
  color: #555;
}

.signin a {
  color: #d9534f;
  font-weight: bold;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}
#left {
  width: 30%;
  margin-top: 5%;
  margin-left: 90px;
}
#left h1 {
  margin-bottom: 40px;
  color: #ff851b;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}
#left p {
  margin-top: 20px;
}
#login-card {
  width: 630px;
  margin: auto;
  margin-top: 130px;
}
#login-card h1 {
  margin-bottom: 30px;
}
#login-card input {
  margin-top: 5px;
}
#login-card button {
  margin-top: 15px;
  margin-bottom: 10px;
}
