{% extends 'base.html' %} {% block title %} Open Desk{% endblock %} {% block
custom_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block content %}
<div id="main">
  <div id="sidebar">
    <ul>
      <li class="sidebar-links">
        <img src="{{ url_for('static', filename='images/feed.png') }}" alt="" />
        <span>Feed</span>
      </li>
      <li class="sidebar-links">
        <img
          src="{{ url_for('static', filename='images/trending.png') }}"
          alt=""
        />
        <span>Trending</span>
      </li>
      <li class="sidebar-links">
        <img
          src="{{ url_for('static', filename='images/school.png') }}"
          alt=""
        />
        <span>My Campus</span>
      </li>
      <li class="sidebar-links">
        <img
          src="{{ url_for('static', filename='images/school.png') }}"
          alt=""
        />
        <span>All Channels</span>
      </li>
      <li class="sidebar-links">
        <img
          src="{{ url_for('static', filename='images/badge.png') }}"
          alt=""
        />
        <span>Featured</span>
      </li>
    </ul>
  </div>
  <div id="feed-contents">
    <div id="create-post">
      <div class="post-header">
        <img
          src="{{ url_for('static', filename='images/user.png') }}"
          alt="User Image"
        />
        <input
          type="text"
          placeholder="Enter title..."
          id="post-title"
          name="title"
          required
        />
      </div>
      <textarea
        placeholder="Write something..."
        id="post-content"
        name="content"
        required
      ></textarea>
      <div class="post-footer">
        <select id="post-category" name="category" required>
          <option value="" disabled selected>Select category</option>
          <option value="technology">Technology</option>
          <option value="education">Education</option>
          <option value="health">Health</option>
          <option value="lifestyle">Lifestyle</option>
          <option value="others">Others</option>
        </select>
        <button type="submit">Post</button>
      </div>
    </div>

    <div class="posts card">
      <div class="card-header">
        <img
          src="{{ url_for('static', filename='images/user.png') }}"
          alt="User"
        />
        <div class="header-info">
          <div class="first-row">
            <span class="post-category">Tech Industry</span>
            <span class="bullet">•</span>
            <span class="post-time">Yesterday</span>
          </div>
          <div class="second-row">
            <span class="post-channel">UIU</span>
            <span class="bullet">•</span>
            <span class="post-user">Ishayat</span>
          </div>
        </div>
      </div>
      <div class="card-content">
        <h4>Offer letter not being honored</h4>
        <p>
          If an external company doesn’t honor its offer letter and nor formally
          rescind it ... are there any legal options that can compel them to
          compensate the loss of pay (left earlier job) and mental stress?
        </p>
      </div>
      <div class="card-footer">
        <div class="actions">
          <span><i class="fa fa-heart"></i> 180</span>
          <span><i class="fa fa-comment"></i> 180</span>
          <span><i class="fa fa-eye"></i> 180</span>
        </div>
        <div class="share"><i class="fa fa-share-alt"></i> Share</div>
      </div>
    </div>
  </div>
  <div id="most-read"></div>
</div>
{% endblock %}
