{% extends 'base.html' %} {% block title %} Open Desk{% endblock %} {% block
custom_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signup.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block content %}

<div id="login-card">
  <h1>Log into your Open Desk Community!</h1>
  <form class="signup-form login-form" method="POST" action="/login">
    <div>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
        required
        value="{{ form_data.username if form_data and 'username' in form_data else '' }}"
      />
      {% if errors and 'username' in errors %}
      <small style="color: red">{{ errors['username'] }}</small>
      {% endif %}
    </div>
    <div>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
      />
      {% if errors and 'password' in errors %}
      <small style="color: red">{{ errors['password'] }}</small>
      {% endif %}
    </div>
    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}
